<!Doctype html>
<html>
<head>
	<title>Moody Foody</title>
	<link rel="icon" href="img/1.jpg">
	<link rel="stylesheet" type="text/css" href="css/h.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
</head>
<body>
	    <div class="main-content">
			<div class="slider">
			<div class="load"></div>
		     {{>header}}
			 
		     <div class="title">
	    	<h1><center>Amenity</center></h1>
	    	<h3><center>Up to Appetite..</center></h3><br><br>
	        </div>
		     </div>
		     	<div class="button">
	    	<a href="login" target=_blank class="btn">LOGIN</a>
	    	<a href="https://docs.google.com/forms/d/e/1FAIpQLSf1VChBY1bOJyu16oGP4_KbuNQygE2Nycgcg-Sa-GgTKLEIwg/viewform?usp=sf_link" class="btn" target=_blank >SIGN UP</a>
	    </div>			
		</div>

		{{>footer}}
		
</body>
      
</html>