<!Doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ORDER</title>
	<link rel="stylesheet" type="text/css" href="css/ord.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/h.css">
	<script src="js/app.js"></script>
</head>
<body> 

{{>header}}
	<div class="container">
			<div class="bar">
		<a href="login">HOME </a> / ORDER</div>
		<div class="sp_container">
			<div class="sp_content">
				<div class="sp_wrap left">
					<h2>
						<span class="sp_top">Are you Hungry?</span>
						<span class="sp_mid">Need Food!</span>
						<span class="sp_bottom">Order Now</span>
					</h2>
					
				</div>
                <div class="sp_wrap right">
                	<h2>
						<span class="sp_top">Wouldn't that be amazingly</span>
						<span class="sp_mid">Great<i>?</i></span>
						<span class="sp_bottom">Yeah,it would !</span>
                	</h2>
                </div>
                  
			</div>
           <div class="sp_full">
		 <div class="video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/CDPLVFaAxvo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
           	<h2>A Good way to get rid of Hunger!</h2>
           	<div class="tummy">Fill Your Tummy<span class="hoverShow1">Please select a hostel to order a delica</span>
            </div>
           </div>
		</div>
		<div class="button">
            <ul>
            	<li><a href="h1.html">HOSTEL I</a></li>
            	<li><a href="h2.html">HOSTEL II</a></li>
            	<li><a href="h3.html">HOSTEL III</a></li>
            	<li><a href="h3.html">HOSTEL IV</a></li>
            	<li><a href="h3.html">HOSTEL V</a></li>
            </ul>

		</div>
		<div class="but">
            <ul>
            	<li><a href="h1.html">HOSTEL VI</a></li>
            	<li><a href="h2.html">HOSTEL VII</a></li>
            	<li><a href="h3.html">HOSTEL VIII</a></li>
            	<li><a href="h3.html">HOSTEL IX</a></li>
            </ul>
            
		</div>

	</div>
	{{>footer}}
</body>

</html>