<header>
    <div class="main">
			<div class="logo"><img src="img/1.jpg"> </div>
			<div class="search_box">
				<form><input  class="search-txt"type="text" name="" placeholder="Location"></form>
				<a class="search_btn" id='unique' href="#">
					<img src="img/search.png" class="src_img">
				</a>
			</div>
			 <div id="container">
			<ul><div class="but">
				<li ><a href=" ">Home</a></li>
				<li>Dibs
                <div class="dropdown">
             	<a href="order" target="_blank">Order</a>             	
             	<a href="Menu.html" target="_blank">Varieties</a>
             	<a href="Specials.html" target="_blank">Specials</a>
                </div>
				<li><a href="Mausam" target="_blank">Weather</a></li>
				<li><a href="contact.html" target="_blank"> Contact Us</a></ul>
			    </div>
		     </div>
</header>
